<%= form_with(model: article, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>
            <%= form.label :Tag %><br>
              <select multiple class="js-example-basic-multiple"   name="vvv[]"
                style="width: 11.75em;">
                              <% @users.each do |user| %>
                        <option value= "<%=user.id%>"><%=user.email%></option>
                              <% end %>

                        </select>
                


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




    <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-12">

 <% @articles.each do |article| %>


      <a href=""><img src="images/Generic-profile-image.png" class="img" alt="Cinque Terre" width="60" hight="60"></a><a href="">User Name</a>
      <br/>
      <div class="well well-sm  ">
        


<p>
  <strong>Title:</strong>
  <%= article.title %>
</p>


      </div>
      <div class="well well-sm  ">
        <a href="">
        some link
        </a>&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to 'Show', article %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Edit', edit_article_path(article) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;&nbsp;
        

         <button  onclick="endorses_click('<%=article.id%>');">Endorse</button>
           &nbsp;&nbsp;&nbsp;&nbsp;
       
      

 <%= link_to "Like#{article.get_likes.size}", like_article_path(article), method: :put %>
          <%= link_to "Dislike#{article.get_dislikes.size}", dislike_article_path(article), method: :put %>


      </div>


<h2>Endorses</h2>
<% article.endorses.each do |endorse| %>
  <p>
    <strong>title:</strong>
    <%= endorse.title %>
  </p>
 
  <p>
    <strong>body:</strong>
    <%= endorse.body %>
  </p>
<% end %>
 
     <div class="endorse_form_<%=article.id %>" style='display: none;'>
<h2>Add a endorse:</h2>
<%= form_for([article, article.endorses.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>


      <%end%>
    </div>
    <div>
  








<script type="text/javascript">
$(".js-example-basic-multiple").select2({
            theme: "bootstrap",  multiple: true
        });
</script>




<script>

function endorses_click(argument) {

   $(".endorse_form_"+ argument).toggle();
}

</script>