<%= form_with(model: article, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




    <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-12">

 <% @articles.each do |article| %>


      <a href=""><img src="images/Generic-profile-image.png" class="img" alt="Cinque Terre" width="60" hight="60"></a><a href="">User Name</a>
      <br/>
      <div class="well well-sm  ">
        


<p>
  <strong>Title:</strong>
  <%= article.title %>
</p>


      </div>
      <div class="well well-sm  ">
        <a href="">
        some link
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
        some link
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
        some link
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
        some link
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
        some link
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>


<h2>Endorses</h2>
<% article.endorses.each do |endorse| %>
  <p>
    <strong>title:</strong>
    <%= endorse.title %>
  </p>
 
  <p>
    <strong>body:</strong>
    <%= endorse.body %>
  </p>
<% end %>
 
    
<h2>Add a endorse:</h2>
<%= form_for([article, article.endorses.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


      <%end%>
    </div>
    <div>
  